{% extends 'econom/finance.html' %}

{% block title %}Расходы{% endblock %}

{% block content %}
    {{ super() }}

    <div class="mb-2">
        <a href="{{ url_for('.expense_add') }}" class="btn btn-outline-primary">Внести расходы</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th width="15">#</th>
            <th width="200">Счет</th>
            <th>Название</th>
            <th width="100">Сумма</th>
            <th width="120">Дата</th>
            <th width="50"></th>
        </tr>
        </thead>
        <tbody>
        {% for expense in expense_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ expense.wallet.title }}</td>
                <td>{{ expense.title }}</td>
                <td>{{ expense.money }}</td>
                <td>{{ expense.time_event.strftime('%d.%m.%Y') }}</td>
                <td><a href="{{ url_for('.expense_delete', expense_id=expense.id) }}" class="btn-close"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}