{% extends 'econom/finance.html' %}

{% block title %}Зачисления{% endblock %}

{% block content %}
    {% with title='Внести доходы' %}
        {% include 'components/label_of_page.html' %}
    {% endwith %}

    <form action="{{ url_for('.income_add') }}" method="POST">
        {{ form.csrf_token }}
        <div class="mb-3 row">
            <div class="col-md-2">
                <span>{{ form.title.label(class_='form-label', for=form.title.name) }}</span>
            </div>
            <div class="col-md-10">
                {{ form.title(class_='form-control') }}
            </div>
        </div>
        {% with errors=form.title.errors %}
            {% include 'components/forms/errors.html' %}
        {% endwith %}
        <div class="mb-3 row">
            <div class="col-md-2">
                <span>{{ form.money.label(class_='form-label', for=form.money.name) }}</span>
            </div>
            <div class="col-md-10">
                {{ form.money(class_='form-control') }}
            </div>
        </div>
        {% with errors=form.money.errors %}
            {% include 'components/forms/errors.html' %}
        {% endwith %}
        <div class="mb-3 row">
            <div class="col-md-2">
                <span>{{ form.wallet_id.label(class_='form-label', for=form.wallet_id.name) }}</span>
            </div>
            <div class="col-md-10">
                <select name="{{ form.wallet_id.name }}" id="{{ form.wallet_id.name }}" class="form-control">
                    {% for w in form.wallet_id.choices %}
                        <option value="{{ w[0] }}">{{ w[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% with errors=form.wallet_id.errors %}
            {% include 'components/forms/errors.html' %}
        {% endwith %}
        <div class="mb-3 row">
            <div class="col-md-2">
                <span>{{ form.time_event.label(class_='form-label', for=form.time_event.name) }}</span>
            </div>
            <div class="col-md-10">
                {{ form.time_event(class_='form-control') }}
            </div>
        </div>
        {% with errors=form.time_event.errors %}
            {% include 'components/forms/errors.html' %}
        {% endwith %}
        <input type="submit" class="btn btn-primary" value="Добавить">
    </form>
{% endblock %}