{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% with title='Личный кабинет' %}
        {% include 'components/label_of_page.html' %}
    {% endwith %}
    {% with crumbs=[
        {'url': '', 'title': 'Главная страница'},
        {'url': '', 'title': 'Личный кабинет'}
    ] %}
        {% include 'components/breadcrumbs.html' %}

    {% endwith %}
    <div class="row">
        <div class="col-2 border-1 border-secondary border">
            <div><a href="{{ url_for('.balance_bar') }}" class="nav-link"><span>Баланс бар</span></a></div>
            <div><a href="#" class="nav-link"><span>Баланс бар</span></a></div>
        </div>
        <div class="col-10">
            {% block cabinet %}
            {% endblock %}
        </div>
    </div>

    <script>
    $(document).ready(function() {
      console.log('load')
    });
    </script>


{% endblock %}