{% extends 'base.html' %}

{% block title %}auth{% endblock %}

{% block content %}
    <div class="row" style="display: flex; justify-content: center">
        <div class="col-xl-5 col-lg-6">
            <h3 style="display: flex; justify-content: center">Авторизация</h3>
            {% include 'components/flash_messages.html' %}
            <form action="{{ url_for('auth.login') }}" method="POST">
                {{ form.csrf_token }}
                <div class="mb-3">
                    <div>
                        {{ form.username.label(class_="form-label", for=form.username.name) }}
                        {{ form.username(class_="form-control") }}
                    </div>
                    <div>
                        {% with errors=form.username.errors %}
                            {% include 'components/forms/errors.html' %}
                        {% endwith %}
                    </div>
                    <div>
                        {{ form.password.label(class_="form-label") }}
                        {{ form.password(class_="form-control") }}
                    </div>
                    <div>
                        {% with errors=form.password.errors %}
                            {% include 'components/forms/errors.html' %}
                        {% endwith %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}